	<title>Homepage</title>
	<meta charset="UTF-8">
	<meta name="description" content="AuCreative theme tempalte">
	<meta name="author" content="AuCreative">
	<meta name="keywords" content="AuCreative theme template">
	<!--Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>

	<!--https://youtu.be/R1MKdih1H6k?t=1008 - listing as cdn-->
	<link rel="stylesheet" type="text/css" href="dist/css/vendor.min.css">
	<link rel="stylesheet" type="text/css" href="dist/css/style.min.css">