<!-- https://youtu.be/R1MKdih1H6k?t=1126 -->
<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
<script src="/dist/js/main.min.js"></script>

<script type="text/javascript">
    new WOW().init();
</script>